.contactme-container {
  background-image: url("images/bgcontactme.jpg");
  height: calc(100vh - 60px);
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.contactme-box {
  padding: 2% 0;
  width: 100%;
  background-color: #75596f;
  opacity: 0.9;
}

.contactme-title {
  margin: 2% 5%;
  color: #25051f;
  font-size: 45px;
}

.contactme_form {
  margin: 0 5% 4%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.contactme-field {
  width: 50%;
  margin: 4px 0;
  height: 5%;
  padding: 16px 20px;
  background-color: white;
  border: none;
  border-radius: 5px;
}

.contactme-field_submit:disabled {
  background-color: #afaaae;
  border-radius: 5px;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  width: 120px;
  height: 30px;
  margin-top: 10px;
}
