@media (max-width: 1024px) and (min-width: 768px) {
}

body {
  background-repeat: no-repeat;
  font-family: "Inter", sans-serif;
  margin: 0;
}

header {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10%;
}

.navbar {
  margin: auto;
  padding: 5px 0;
  font-size: 17px;
  width: 500px;
}

.navbar .navbarItems {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.navbar li,
a {
  list-style: none;
  text-decoration: none;
  line-height: 50px;
  padding: 0 10px;
  color: inherit;
}

.navbar a:hover {
  background: rgb(75, 0, 130);
  border-radius: 5%;
  color: white;
}

.contactme-container {
  color: #afaaae;
  height: calc(100vh - 60px);
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.contactme-box {
  padding: 2% 0;
  width: 100%;
  background-color: #e0e0e0;

  opacity: 0.9;
}

.contactme-title {
  text-align: center;
  margin: 2% 5%;
  color: #25051f;
  font-size: 45px;
}

.contactme_form {
  justify-content: center;
  margin: 0 5% 4%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.contactme-field {
  align-items: center;
  width: 50%;
  margin: 4px 0;
  height: 5%;
  padding: 16px 20px;
  background-color: white;
  border: none;
  border-radius: 5px;
}
.contactme-field_submit:disabled {
  justify-content: center;
  background-color: #afaaae;
  border-radius: 5px;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  width: 120px;
  height: 30px;
  margin-top: 10px;
}
